@import "../sass/variables.scss";

.pagination {
  margin: 1rem 0;
  background-color: #fff;
  padding: 0.2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &-link {
    margin: 0.2rem;
    padding: 0.4rem 0.6rem;
    border: none;
    &:hover {
      background-color: rgb(215, 241, 255);
      cursor: pointer;
    }
  }

  &_arrow {
    text-decoration: none;
    padding: 0.4rem;
    outline: none !important;
    margin: 0 0.2rem;
    border: none;

    &:hover {
      background-color: rgb(215, 241, 255);
      cursor: pointer;      
    }
    &:focus {
      outline: none;
    }
  }
}


.pag_active {
  background-color: $active-color !important;
}
